.filter {
  appearance: none;
  border: solid 0 #ccc;
  border-bottom-width: 0.0625rem;
  color: #555;
  font-size: 1.25rem;
  font-weight: 300;
  height: 2rem;
  padding: 0.5rem 0.75rem;
}

.filter:focus {
  outline: none;
}

.filter::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 200;
}

/* This is a fairly new feature that does not have full adoption */
@supports(position: sticky) {
  .filter {
    position: sticky;
    top: 0;
  }
}
